<%= link_to 'Back', 'javascript:history.back()', class: 'yellow-button-import' %>
<h1>Ajouter une nouvelle garantie</h1>

<%= simple_form_for(@invoice) do |f| %>
  <%= f.input :purchase_date, as: :date, html5: true %>
  <%= f.input :number_year_warranty %>
  <%= f.input :brand_name %>
  <%= f.input :product_name %>
  <%= f.input :product_category %>
  <%= f.submit %>
<% end %>
