<div class="home-container">
  <% if user_signed_in? %>

    <div class="home-h1">
      <h1>Vos produits</h1>
    </div>
    <div class="home-cards">
      <% if @invoices.blank? %>
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 50vh;">
          <h3 class='text-center'>Vous n'avez pas encore de produit</h3>
          <%= link_to 'AJOUTER UNE GARANTIE', new_invoice_path, class: "orange_button mt-4" %>
        </div>
      <% end %>
      <% @invoices.each do |invoice| %>
        <div class="home-card">
          <div class="card-achat">
            <p><strong>Date d'achat:</strong></p>
            <p><%= invoice.purchase_date.strftime('%d %B %Y') %></p>
          </div>
          <div class="card-fin">
            <p><strong>Fin de garantie:</strong></p>
            <p><%= invoice.purchase_date.next_year(invoice.number_year_warranty).strftime('%d %B %Y') %></p>
          </div>
          <div class="card-produit">
            <div class="card-produit-infos">
              <p><strong>Produit:</strong></p>
              <p><%= invoice.brand_name %>
              <%= invoice.product_name %></p>
            </div>
            <div class="card-produit-infos">
              <p><strong>Catégorie:</strong></p>
              <p><%= invoice.product_category %></p>
            </div>
            <div class="card-produit-garantie">
              <% if invoice.document.key %>
                <% if Rails.env.development? %>
                  <%= link_to "AFFICHER LA FACTURE", "http://res.cloudinary.com/djoul75/image/upload/v1/development/#{invoice.document.key}", target: :_blank, class: 'orange_button' %>
                <% elsif Rails.env.production? %>
                  <%= link_to "AFFICHER LA FACTURE", "http://res.cloudinary.com/djoul75/image/upload/v1/production/#{invoice.document.key}", target: :_blank, class: 'orange_button' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-actions">
          <%= link_to edit_invoice_path(invoice.id) do %>
            <i class="fas fa-pencil"></i>
          <% end %>
          <%= link_to invoice_path(invoice.id), method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <br><br><br><br><br>
    <div class="message-accueil d-flex flex-column text-center p-5 mt-5 align-items-center justify-content-center w-50">
      <h4>Bienvenue sur</h4>
      <h1>DockR</h1>
      <br>
      <p>Rassemblez toutes vos garanties, ayez une visualistion claire
      de vos produits sous garantie et retrouvez facilement la facture correspondante</p>
      <br>
      <p>Pas encore inscrit ?</p>
      <%= link_to "S'INSCRIRE", new_user_registration_path, class: "orange_button mt-2" %>
    </div>

  <% end %>
</div>

<% console %>
